.container {
    display: flex;
}

.column {
    flex: 1;
    padding: 1em;
}

.hidden {
    display: none;
}
  
.see-more-button {
    background-color: #f0f0f0;
    color: #333;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
}

.section-content {
    display: none;
}
  
  .section.open .section-content {
    display: block;
}
  

@media screen and (max-width: 600px) {
    .container {
      flex-direction: column;
    }
}
  
  