body {
    margin: 0;
}

.heading {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    grid-gap: 1em;
    justify-content: space-around;
    padding: 0 1em;
    margin: 2em;
} 

.item-description {
    display: flex; /* Set display to flex */
    flex-wrap: wrap; /* Allow wrapping of content */
    align-items: flex-start;
}

.item-description strong {
    flex-basis: 120px; /* Set a fixed width for the labels to create alignment */
    flex-shrink: 0; /* Prevent labels from shrinking */
}

.item-description br {
    display: none; /* Hide line breaks to keep the content in a single line */
}


.hidden {
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: visibility 0s, height 0.2s, opacity 0.2s linear;
}
  
.see-more-button {
    background-color: #f0f0f0;
    color: #333;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
} 

.save-button {
    display: none;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    padding: 0.2em;
    margin: 0.5em;
}
  

@media screen and (max-width: 600px) {
    .container {
      flex-direction: column;
    }
}
  
  